<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207376636349-pd27s9r34hgesidod5tq556fs4u57beq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207376636349-pd27s9r34hgesidod5tq556fs4u57beq</string>
	<key>API_KEY</key>
	<string>AIzaSyByDPYxmV44Vj2GVjlkItwk-9De9cewzHE</string>
	<key>GCM_SENDER_ID</key>
	<string>207376636349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wanjawischmeier.pizzaFlizza</string>
	<key>PROJECT_ID</key>
	<string>pizza-ffc84</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-ffc84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207376636349:ios:e8e3a45f2b6a577b171ad4</string>
	<key>DATABASE_URL</key>
	<string>https://pizza-ffc84-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>