*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/shared/build
.DS_Store
/build
/crossPlattformImplementation/build
/crossPlattformImplementation/androidApp/build
/crossPlattformImplementation/shared/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks